<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.leoche.snake"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Snake</name>

    <description>
        An another Snake.
    </description>

    <author href="https://leoche.org" email="leoche@live.fr">
        Léo DESIGAUX
    </author>
    <gap:platform name="ios" />
</widget>